// Tokyonight Default Theme Color Palette

// Red
$red-light: #f52a65;
$red-dark: #f7768e;

// Pink
$pink-light: #d20065;
$pink-dark: #ff007c;

// Purple
$purple-light: #7847bd;
$purple-dark: #bb9af7;

// Blue
$blue-light: #2e7de9;
$blue-dark: #7aa2f7;

// Teal
$teal-light: #118c74;
$teal-dark: #1abc9c;

// Cyan
$cyan-light: #007197;
$cyan-dark: #7dcfff;

// Green
$green-light: #387068;
$green-dark: #73daca;

// Yellow
$yellow-light: #8c6c3e;
$yellow-dark: #e0af68;

// Orange
$orange-light: #b15c00;
$orange-dark: #ff9e64;

// Accent Color
$accent-light: #C0CAF5;
$accent-dark: #A9B1D6;

// Grey
$grey-050: #C0CAF5;
$grey-100: #B5BFE8;
$grey-150: #acb6df;
$grey-200: #a4add6;
$grey-250: #9ca5cd;
$grey-300: #949cc5;
$grey-350: #8b93bc;
$grey-400: #838bb3;
$grey-450: #7b82aa;
$grey-500: #737aa2;
$grey-550: #545c7e;
$grey-600: #4f577d;
$grey-650: #414868;
$grey-700: #3b4261;
$grey-750: #2a2d3c;
$grey-800: #1f212d;
$grey-850: #1a1b26;
$grey-900: #191a24;
$grey-950: #15161E;

// White
$white: #C0CAF5;

// Black
$black: #15161E;

// Theme
$default-light: $accent-light;
$default-dark: $accent-dark;

// Button
$button-close: if($topbar == 'light', #c64343, #f7768e);
$button-max: if($topbar == 'light', #587539, #9ece6a);
$button-min: if($topbar == 'light', #8c6c3e, #ff9e64);
